body { 
    margin: 2em 0;
    text-align: center;
}

p {
    margin: auto;
}

main {
    position: relative;
    margin-top: 2em;
}

#display_board {
    margin-top: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(1, 35px);
}

#display_board button {
    padding: 0px;

    height: 35px;
    width: 35px;

    background-color: #D3D3D3;

    border: none;
    outline: none;

    border-left: 3px solid #e6e6e6;
    border-top:  3px solid #e6e6e6;
    border-right: 3px solid #8E8E8E;
    border-bottom: 3px solid #8E8E8E;
}

#display_board img {
    height: 29px;
    width: 29px;
}

.mine {
    background-image: url("bomb.png");
    background-color: tomato;
}

.game_txt {
    display: initial;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    width: 300px;

    font-size: 28px;
    font-weight: bold;
}